.container{
    margin: 0 auto;
    width: 300px;
    margin-top:50px
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBarClear{
    margin-left: 10px;
    cursor: pointer;
}

.searchBarInput{
    height: 89px;
    width: 1016px;
    border-radius: 39px;
    background: #FCF6F6;
    font-size: 16px;
    color: black;}